{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Majors</h1>
<div class="row">
{%for major in majors %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ major.name }}</h5>
                <a href="{% url 'major_detail' major.pk %}"
                class="btn btn-primary">
                <p class="card-text">Major Details</p>
                </a>
            </div>
        </div>
    </div>
    {%endfor %}
</div>

<a href="add_major"><h1> Add Majors </h1></a>

{% endblock %}
